@use "./abstracts/palette.scss";
@use "./abstracts/mixins";
@use "./base/typography.scss";
@use "./components/level-display";
@use "./components/button";
@use "./vendors/bootstrap-overrides";

body {
    background-color: palette.$color-light-black;
    color: palette.$color-white;
}

.game {
    position: relative;
    width: 300px;
    height: 300px;

    @include mixins.small-screen() {
        margin-top: 60px;
    }

    @include mixins.medium-screen() {
        margin-top: 90px;
    }

    @include mixins.large-screen() {
        margin-top: 110px;
    }

    &__circle {

        @include mixins.center-circle;

        &--small {
            background-color: palette.$color-red;
            width: 50px;
            height: 50px;
            z-index: 10;

            @include mixins.small-screen() {
                width: 80px;
                height: 80px;
            }

            @include mixins.medium-screen() {
                width: 110px;
                height: 110px;
            }

            @include mixins.large-screen() {
                width: 120px;
                height: 120px;
            }
        }

        &--medium {
            background-color: palette.$color-yellow;
            width: 120px;
            height: 120px;
            z-index: 9;

            @include mixins.small-screen() {
                width: 160px;
                height: 160px;
            }

            @include mixins.medium-screen() {
                width: 220px;
                height: 220px;
            }

            @include mixins.large-screen() {
                width: 240px;
                height: 240px;
            }
        }

        &--large {
            background-color: palette.$color-blue;
            width: 190px;
            height: 190px;
            z-index: 8;

            @include mixins.small-screen() {
                width: 240px;
                height: 240px;
            }

            @include mixins.medium-screen() {
                width: 330px;
                height: 330px;
            }

            @include mixins.large-screen() {
                width: 360px;
                height: 360px;
            }
        }

        &--xlarge {
            background-color: palette.$color-green-dark;
            width: 260px;
            height: 260px;
            z-index: 7;

            @include mixins.small-screen() {
                width: 320px;
                height: 320px;
            }

            @include mixins.medium-screen() {
                width: 440px;
                height: 440px;
            }

            @include mixins.large-screen() {
                width: 480px;
                height: 480px;
            }
        }

        &--shape {
            border-radius: 50%;
            clip-path: circle(50%);
            overflow: hidden;
        }

        &--green {
            background-color: palette.$color-green;
        }

        &--green-bright {
            background-color: palette.$color-green-bright;
        }

        &--red {
            background-color: palette.$color-red;
        }

        &--red-bright {
            background-color: palette.$color-red-bright;
        }

        &--blue {
            background-color: palette.$color-blue;
        }

        &--blue-bright {
            background-color: palette.$color-blue-bright;
        }

        &--yellow {
            background-color: palette.$color-yellow;
        }

        &--yellow-bright {
            background-color: palette.$color-yellow-bright;
        }

    }
}