@use "./abstracts/palette.scss";
@use "./abstracts/mixins";

.game {
    &__circle {

        @include mixins.center-circle;
        &--small {
            background-color: palette.$color-red;
            width: 50px;
            height: 50px;
        }

        &--medium {
            background-color: palette.$color-yellow;
            width: 120px;
            height: 120px;
        }

        &--large {
            background-color: palette.$color-blue;
            width: 190px;
            height: 190px;
        }

        &--xlarge {
            background-color: palette.$color-green;
            width: 260px;
            height: 260px;
        }

    &__circle {
        &-shape {
            border-radius: 100%;
        }
    }
}