
$color-white:rgba(255, 255, 255, 1);
$color-black: rgba(52, 54, 53, 1);
$color-red: rgba(255, 0, 0, 1);
$color-blue: rgba(0, 0, 255, 1);
$color-green: rgba(0, 224, 0, 1);
$color-green-dark: rgba(0, 204, 0, 1);
$color-yellow: rgba(255, 255, 0, 1);